#addProductForm{
	display: block;
	width: 70%;
	background-color: #95a5a6;
}

#container{

}

form {
	margin-top: 10px;
}

label {
	font-size: 16px; 
	width: 100px; 
	display: block; 
	text-align: right;
	margin-right: 10px;
	margin-top: 8px;
	margin-bottom: 8px;
}

input {
	width: 250px;
	border: 1px solid #666; 
	border-radius: 5px; 
	padding: 4px; 
	font-size: 16px;
}

.save {
	font-weight: bold;
	width: 130px; 
	padding: 5px 10px; 
	margin-top: 30px;
	background: #cccccc;
}

table {   
	border-style:none;
	width:100%;
	background-color: #95a5a6;
}

tr:nth-child(even) {background: #95a5a6}
tr:nth-child(odd) {background: #95a5a6}

tr {
	border-style:none;
	text-align:left;	
}

.radio-button{
	display: flex;
	flex-direction: column-reverse;
}

.radio-button label{
	width: 100%;
	text-align: center;
}

.radio-button input{
	width: 100%;
}

.radio-buttons{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 250px;
}
	
