<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>food4you - produkty</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/editStyle.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/uicons-solid-straight.css}">
</head>
<body>
<div id="wrapper">
    <header>
        <a th:href="@{/}"><h2 >Sklep internetowy</h2 ></a>
    </header>
</div>
<div id="container">
    <div id="content">
        <div id="photo">
            <div class="photoHolder">
                <div th:if="${imageExist}">
                    <img
                            th:src="@{/images/categories/{id}.jpg(id=${category.id})}"
                            alt="Zdjęcie"
                            >
                </div>
                <div th:if="!${imageExist}">brak zdjęcia
                </div>

            </div>

            <div class="btnHolder" th:if="${imageExist}"><button class="btn-submit btn" onclick="dialog.showModal()">zmień zdjęcie</button></div>
            <div class="btnHolder" th:if="!${imageExist}"><button class="btn-submit btn" onclick="dialog.showModal()">dodaj zdjęcie</button></div>
        </div>
        <div id="dataEdition">
            <form th:action="@{/categories}" th:object="${category}" method="post" class="form-row">
                <input type="hidden" th:field="*{id}">
                <div id="formData">
                <label>nazwa
                    <input type="text" th:field="*{name}">
                </label>
                </div>
                <button type="submit" class="btn btn-submit">zapisz</button>
            </form>
        </div>




        <dialog id="dialog">
            <form method="post" th:action="@{/categories/{id}/uploadPhoto(id=${category.id})}" enctype="multipart/form-data">
                <input type="file" name="image" accept="image/*" class="form-control-file" >
                <button type="submit" class="btn btn-submit">zapisz obraz</button>
        </form>
        </dialog>
    </div>
</div>

</body>
</html>